<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <title>Interface</title>

    <script>

        function getNumberOfShapes(){

            var amountOfCoordinates = document.getElementById('amountOfCoordinates').value; // get amount of coordinates that the user will send
            var coordinatesDiv = document.getElementById("coordinatesDiv"); //
            coordinatesDiv.innerHTML = "<br>";

            var newDiv = document.createElement('div');
            var coordinatesInput = document.createElement('input');
            var breakElement = document.createElement('br');

            coordinatesInput.setAttribute('placeholder', '(x,y)');
            var coordinatesLabel = document.createElement('p');
            coordinatesLabel.innerHTML = "Coordinate: ";

            newDiv.appendChild(coordinatesLabel);
            newDiv.appendChild(coordinatesInput);
            newDiv.appendChild(breakElement);



            for (var j = 1; j <= amountOfCoordinates; j++) {

                coordinatesDiv.innerHTML += newDiv.innerHTML;

            } // end of inner loop

        }

    </script>

</head>
<body bgcolor = "red">

    <form>
        <label>How many coordinates?</label>
        <input id = "amountOfCoordinates">
        <button onclick = "getNumberOfShapes(); return false;">Go</button>
        <div id = "coordinatesDiv"></div>
        <br>
    </form>

</body>
</html>