<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <title>Interface</title>

    <script>

        function getNumberOfShapes(){

            var amountOfCoordinates = document.getElementById('amountOfCoordinates').value; // get amount of coordinates that the user will send
            var coordinatesDiv = document.getElementById("coordinatesDiv"); //
            coordinatesDiv.innerHTML = "<br>";

            var newDiv = document.createElement('div');
            var coordinatesInput = document.createElement('input');
            var breakElement = document.createElement('br');

            coordinatesInput.setAttribute('placeholder', '(x,y)');
						coordinatesInput.setAttribute('type','text');
            var coordinatesLabel = document.createElement('p');
            coordinatesLabel.innerHTML = "Coordinate: ";

            newDiv.appendChild(coordinatesLabel);
            newDiv.appendChild(coordinatesInput);
            newDiv.appendChild(breakElement);

						var num=1;

            for (var j = 1; j <= amountOfCoordinates; j++) {
							
								coordinatesInput.setAttribute('id','in'+num);
								coordinatesInput.setAttribute('name','in'+num);
                coordinatesDiv.innerHTML += newDiv.innerHTML;
								num++;

            } // end of inner loop

        }

    </script>

</head>
<body style="background-color: grey">
		<label>How Many Points?</label>
		<input id= "amountOfCoordinates">
		<button onclick = "getNumberOfShapes(); return false;">Go</button>
		<form action="/handle_data" method="POST">
        <div id = "coordinatesDiv"></div>
        <br>
				<input id="butt" type="submit" value="Submit">				
    </form>

</body>
</html>
